---
title: Turmas
layout: default
---
<div class="container-fluid">
  <div class="row">
    <div class="ficha-tecnica col-sm-10">
        <h1>Arte Eletrônica</h1>
    </div>

  {% for obra in site.obras %}
     {% if obra.turma == "Arte Eletrônica" %}
    
           <div class="card  col-lg-4 col-xl-2">
              <div class="box">
                  <a  href="{{ BASE_PATH }}{{ post.url | remove: '/index.html' }}">
                    <img src="{{ obra.thumbnail }}" /> 
                  </a>
              </div>
              
    </div>
    
      {% endif %}
  {% endfor %}
  </div>
</div>


 
