---
layout: default
---

<div class="obras">
  <h2>{{ page.title }}</h2>
  <ul class="nav">
    <li class="nav-item" data-toggle="tooltip" title="Ver {{ page.title }}">
      <a class="nav-link active" id="default-tab" data-toggle="tab" href="#default" role="tab" aria-controls="default" aria-selected="true"></a>
    </li>
    <li class="nav-item" data-toggle="tooltip" title="Sobre a obra">
      <a class="nav-link" id="sobre-tab" data-toggle="tab" href="#sobre" role="tab" aria-controls="sobre" aria-selected="false"></a>
    </li>
    
    <li class="nav-item" data-toggle="tooltip" title="Instagram">
      <a class="nav-link" id="artista-tab" target="_blank" href="{{ page.instagram }}"></a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="default" role="tabpanel" aria-labelledby="default-tab">
      <div class="aba">
        <div class="wrap">
        <li class='nome-obra'>
      <h3>{{ page.artista }} | {{ page.turma }} </h3>
    </li>
                  {{ content }}
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="sobre" role="tabpanel" aria-labelledby="sobre-tab">
      <div class="aba">
          <li class='nome-obra'>
             <h3>{{ page.artista }}</h3>
          </li>
          <p style="font-size: 13px;color: #8e8b8b;">{{ page.bio }}</p>
          <br>
          <span style="color: #fff;background: #1a33ea;padding: 5px;">{{ page.title }}</span>
          <br><br>
          <p>{{ page.texto-descricao }}</p>


      </div>
    </div>
  </div>
</div>
